body {
    background-color: lightblue;
}
.game{
    background-color: hotpink;
    border: none;
    color: white;
    position:absolute;
    top: 85%;
    left:20%;
    border-radius:30px;
    padding: 20px 20px;
    text-align: center;
    font-size: 30px;

}
a{
    text-decoration: none;
    color: white;
}
#h1{
    font-size: 80px;
    color: #fff;
    text-align: center;
    animation: glow 1s ease-in-out infinite alternate;
}
#h2{
    font-size: 50px;
    color: white;
    text-decoration-thickness: 10px;
    position: absolute;
    top: 28%;
    left: 20%;
}
#directions{
    width: 680px;
    font-size: 28px;
    text-decoration-thickness: 10px;
    text-align: center;
    position: absolute;
    color: white;
    top: 40%;
    left: 7%;
}
#monster{
    position: absolute;
    top: 25%;
    left: 60%;
    width: 400px;
    height: 600px;
}
@-webkit-keyframes glow {
    from {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
    }

    to {
        text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
    }
}
